<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.propertymanagementapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TransactionsScreenActivity"></activity>
        <activity android:name=".activities.TenantsScreenActivity" />
        <activity android:name=".activities.PropertyScreenActivity" />
        <activity android:name=".activities.HomeScreenActivity" />
        <activity android:name=".activities.AddVendorActivity" />
        <activity android:name=".activities.ToDoListActivity" />
        <activity android:name=".activities.LoginOrRegisterActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>